* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titleDiv {
  padding: 25px;
  font-size: 4rem;
}

#gridContainer {
  display: flex;
  width: 450px;
  height: 350px;
  flex-wrap: wrap;
  border: 5px solid black;
}

#gridContainer div:hover {
  background-color: blue;
}
