* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titleDiv {
  padding: 25px;
  font-size: 4rem;
}

#gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 350px;
  border: 4px solid black;
  overflow: hidden;
}

#gridContainer div {
  flex: auto;
}
